.trade-history {
  border: 1px solid #ccc;
  width: 400px;
  height: 670px;
  padding: 6px;
  color: white;
  background-color: #151518;
  overflow-y: scroll;
  scrollbar-width: thin; 
  scrollbar-color: #6e6d6d #2c2c2d;
}

.trade-history-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trade-history-row {
  display: flex;
  justify-content: space-around;
}

.trade-history-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 22px;
  margin-top: 30px;
}

.trade-history-header-title-element {
  margin: 0;
  width: 60px;
}  

.trade-history-header-element {
  margin: 0;
  width: 74px;
}  

.trade-history-size,
.trade-history-time {
  font-size: 14px;
  width: 60px;
}

.trade-history-price{
  width: 100px;
  text-wrap: nowrap;
}
