body {
  background-color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
}

hr {
  border-color: #2c2c2d;
}

.home-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.price-selection {
  display: flex;
  justify-content: center;
}

.footer {
  height: 75px;
  background-color: #151518;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #959494;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--glow-color);
  }
  50% {
    box-shadow: 0 0 20px var(--glow-color);
  }
  100% {
    box-shadow: 0 0 5px var(--glow-color);
  }
}

.system-disconnected {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  --glow-color: red;
  box-shadow: 0 0 10px var(--glow-color);
  animation: glow 1.5s infinite;
}

.system-connected {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  position: relative;
  --glow-color: green;
  box-shadow: 0 0 10px var(--glow-color);
  animation: glow 1.5s infinite;
}

.connection-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}